In [2]:
! pip install opencage

Collecting opencage
  Downloading opencage-2.4.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: Requests>=2.31.0 in /Users/carlosroberto/anaconda3/lib/python3.11/site-packages (from opencage) (2.31.0)
Collecting backoff>=2.2.1 (from opencage)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/carlosroberto/anaconda3/lib/python3.11/site-packages (from Requests>=2.31.0->opencage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/carlosroberto/anaconda3/lib/python3.11/site-packages (from Requests>=2.31.0->opencage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/carlosroberto/anaconda3/lib/python3.11/site-packages (from Requests>=2.31.0->opencage) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /Users/carlosroberto/anaconda3/lib/python3.11/site-packages (from Requests>=2.31.0->opencage) (2023.11.17)
Downloading opencage-2.4.0-py3-none-any.whl (16 kB)
Installing collected packages: backoff, opencage
Successfully installed backoff-2.2.1 opencage-2.4.0

In [3]:
# -*- coding: utf-8 -*-
import os
import pandas as pd
from opencage.geocoder import OpenCageGeocode

In [4]:
opencagekey = open("key.secret", "r")
key = opencagekey.read().replace("\n", "")
opencagekey.close()

In [5]:
dataset = pd.read_csv("caso_full.csv")

In [6]:
print(dataset[0:15])

    Unnamed: 0                 muni    codIbge        data  semEpid  \
0            0            São Paulo  3550308.0  2020-02-29   202009
1            1     Feira de Santana  2910800.0  2020-03-07   202010
2            2          Barra Mansa  3300407.0  2020-03-07   202010
3            3       Rio de Janeiro  3304557.0  2020-03-07   202010
4            4  Santana de Parnaíba  3547304.0  2020-03-07   202010
5            5            São Paulo  3550308.0  2020-03-07   202010
6            6             Brasília  5300108.0  2020-03-07   202010
7            7               Manaus  1302603.0  2020-03-14   202011
8            8                Natal  2408102.0  2020-03-14   202011
9            9               Recife  2611606.0  2020-03-14   202011
10          10               Maceió  2704302.0  2020-03-14   202011
11          11              Aracaju  2800308.0  2020-03-14   202011
12          12     Feira de Santana  2910800.0  2020-03-14   202011
13          13             Salvador  2927408.0  2020-03-14   202011
14          14          Divinópolis  3122306.0  2020-03-14   202011

      popEstim  confAcc  confAcc100k  obitoAcc tipoLocal  uf  confDia  \
0   12325232.0        2      0.01623         0      city  SP        2
1     619609.0        2      0.32278         0      city  BA        2
2     184833.0        1      0.54103         0      city  RJ        1
3    6747815.0        1      0.01482         0      city  RJ        1
4     142301.0        1      0.70274         0      city  SP        1
5   12325232.0       12      0.09736         0      city  SP       10
6    3055149.0        1      0.03273         0      city  DF        1
7    2219580.0        2      0.09011         0      city  AM        2
8     890480.0        1      0.11230         0      city  RN        1
9    1653461.0        6      0.36288         0      city  PE        6
10   1025360.0        1      0.09753         0      city  AL        1
11    664908.0        1      0.15040         0      city  SE        1
12    619609.0        4      0.64557         0      city  BA        2
13   2886698.0        3      0.10392         0      city  BA        3
14    240408.0        1      0.41596         0      city  MG        1

    obitoDia        lat        lon _merge
0          0 -23.550651 -46.633382   both
1          0 -12.257893 -38.959805   both
2          0 -22.539484 -44.173513   both
3          0 -22.911014 -43.209373   both
4          0 -23.444671 -46.916772   both
5          0 -23.550651 -46.633382   both
6          0 -15.793404 -47.882317   both
7          0  -3.131633 -59.982504   both
8          0  -5.805398 -35.208091   both
9          0  -8.064193 -34.878152   both
10         0  -9.665830 -35.735280   both
11         0 -10.916206 -37.077466   both
12         0 -12.257893 -38.959805   both
13         0 -12.982250 -38.481277   both
14         0 -20.143456 -44.891250   both

In [7]:
dataset.head(5)

,Unnamed: 0,muni,codIbge,data,semEpid,popEstim,confAcc,confAcc100k,obitoAcc,tipoLocal,uf,confDia,obitoDia,lat,lon,_merge
0,0,São Paulo,3550308.0,2020-02-29,202009,12325232.0,2,0.01623,0,city,SP,2,0,-23.550651,-46.633382,both
1,1,Feira de Santana,2910800.0,2020-03-07,202010,619609.0,2,0.32278,0,city,BA,2,0,-12.257893,-38.959805,both
2,2,Barra Mansa,3300407.0,2020-03-07,202010,184833.0,1,0.54103,0,city,RJ,1,0,-22.539484,-44.173513,both
3,3,Rio de Janeiro,3304557.0,2020-03-07,202010,6747815.0,1,0.01482,0,city,RJ,1,0,-22.911014,-43.209373,both
4,4,Santana de Parnaíba,3547304.0,2020-03-07,202010,142301.0,1,0.70274,0,city,SP,1,0,-23.444671,-46.916772,both

In [10]:
# colunas = [
#     'city',
#     'city_ibge_code',
#     'date',
#     'epidemiological_week',
#     'estimated_population',
#     'last_available_confirmed',
#     'last_available_confirmed_per_100k_inhabitants',
#     'last_available_deaths',
#     'place_type',
#     'state',
#     'new_confirmed',
#     'new_deaths']
# dataset = pd.read_csv('caso_full.csv', encoding = 'utf-8', usecols=colunas)

In [14]:
# print(dataset[0:15])

dataset.head(5)

,Unnamed: 0,muni,codIbge,data,semEpid,popEstim,confAcc,confAcc100k,obitoAcc,tipoLocal,uf,confDia,obitoDia,lat,lon,_merge
0,0,São Paulo,3550308.0,2020-02-29,202009,12325232.0,2,0.01623,0,city,SP,2,0,-23.550651,-46.633382,both
1,1,Feira de Santana,2910800.0,2020-03-07,202010,619609.0,2,0.32278,0,city,BA,2,0,-12.257893,-38.959805,both
2,2,Barra Mansa,3300407.0,2020-03-07,202010,184833.0,1,0.54103,0,city,RJ,1,0,-22.539484,-44.173513,both
3,3,Rio de Janeiro,3304557.0,2020-03-07,202010,6747815.0,1,0.01482,0,city,RJ,1,0,-22.911014,-43.209373,both
4,4,Santana de Parnaíba,3547304.0,2020-03-07,202010,142301.0,1,0.70274,0,city,SP,1,0,-23.444671,-46.916772,both

In [ ]:
dataset = dataset.rename(
    columns={
        "city": "muni",
        "city_ibge_code": "codIbge",
        "date": "data",
        "epidemiological_week": "semEpid",
        "estimated_population": "popEstim",
        "last_available_confirmed": "confAcc",
        "last_available_confirmed_per_100k_inhabitants": "confAcc100k",
        "last_available_deaths": "obitoAcc",
        "place_type": "tipoLocal",
        "state": "uf",
        "new_confirmed": "confDia",
        "new_deaths": "obitoDia",
    }
)

In [ ]:
print(dataset.head(15))

In [ ]:
dataset.dropna(subset=["muni", "codIbge"], inplace=True)

In [ ]:
print(dataset.head(15))

In [ ]:
aggregation = {
    "muni": "first",  # Primeiro valor encontrado
    "codIbge": "first",  # Primeiro valor encontrado
    "data": "last",  # Ultimo valor encontrado
    "semEpid": "first",  # Primeiro valor encontrado
    "popEstim": "max",  # Maximo valor do conjunto
    "confAcc": "max",  # Maximo valor do conjunto
    "confAcc100k": "max",  # Maximo valor do conjunto
    "obitoAcc": "max",  # Maximo valor do conjunto
    "tipoLocal": "first",  # Primeiro valor encontrado
    "uf": "first",  # Primeiro valor encontrado
    "confDia": "sum",  # Soma dos valores do conjunto
    "obitoDia": "sum",
}  # Soma dos valores do conjunto
# Agrega resultados da semana epidemiológica por município
dataset = (
    dataset.groupby(["semEpid", "codIbge"])
    .aggregate(aggregation)
    .reindex(columns=dataset.columns)
)

In [ ]:
print(dataset.head(15))

In [ ]:
dataset.reset_index(drop=True, inplace=True)

In [ ]:
print(dataset.head(15))

In [ ]:
print(dataset.shape[0])

In [ ]:
if not os.path.exists("rocketseat.csv"):
    colNames = ["muni", "codIbge", "uf", "lat", "lon"]
    geoloc = pd.DataFrame(columns=colNames)
    geoloc.to_csv("rocketseat.csv", encoding="utf-8")

In [ ]:
geoloc = pd.read_csv(
    "teste1.csv", encoding="utf-8", usecols=["muni", "codIbge", "uf", "lat", "lon"]
)

In [ ]:
print(geoloc.head(15))

In [ ]:
joinDataset = pd.merge(
    dataset, geoloc, on=["muni", "codIbge", "uf"], how="left", indicator=True
)

In [ ]:
print(joinDataset.head(15))

In [ ]:
print(joinDataset.loc[joinDataset["_merge"] == "left_only"])

In [ ]:
print(joinDataset[875:885])

In [ ]:
getgeo = []
for index, rows in joinDataset.iterrows():
    if (rows._merge == "left_only") and (
        [rows.muni, rows.codIbge, rows.uf] not in getgeo
    ):
        getgeo.append([rows.muni, rows.codIbge, rows.uf])
        query = str(rows.muni.lower()) + ", " + str(rows.uf.lower()) + ", " + "brasil"
        geocoder = OpenCageGeocode(key)
        coord = geocoder.geocode(query)
        geoloc = geoloc.append(
            pd.Series(
                [
                    rows.muni,
                    rows.codIbge,
                    rows.uf,
                    coord[0]["geometry"]["lat"],
                    coord[0]["geometry"]["lng"],
                ],
                index=geoloc.columns,
            ),
            ignore_index=True,
        )
        print(
            "Municipio adicionado: ",
            rows.muni,
            rows.codIbge,
            rows.uf,
            coord[0]["geometry"]["lat"],
            coord[0]["geometry"]["lng"],
        )
        joinDataset["lat"] = coord[0]["geometry"]["lat"]
        joinDataset["lon"] = coord[0]["geometry"]["lng"]

In [ ]:
print(len(getgeo))

In [ ]:
print(joinDataset.head(15))

In [ ]:
print(joinDataset[875:885])

In [ ]:
if len(getgeo) > 0:
    geoloc.to_csv("muniset.csv", encoding="utf-8")

In [ ]:
print(getgeo)

In [ ]:
joinDataset.to_csv("covid_dataset.csv", encoding="utf-8")